<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" media="screen"/>
    <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/board_vision.css"/>
    <title>{{shop|capfirst}} W{{week_nr}} Boards Train</title>
    <meta charset="UTF-8">
</head>
<body>
    {% load production %}
    <div class='page_header'>
        <div><h1>W{{week_nr}} <span>{{shop|capfirst}} (Total Machining {{total|display_hours}})</span></h1></div>
        <div><h3>Ready {{total_ready|display_hours}}</h3></div>
    </div>

    {% for day in days %}
    <div class='day'>
        <div class='day_header'>
            <div>{{forloop.counter|files_weekday}} &nbsp;&nbsp; {{day.total|display_hours}}</div>
            <div>Ready &nbsp;&nbsp; {{day.total_ready|display_hours}}</div> 
        </div>
        {% for img in day.boards %}
        <a href="file:///{{img.path}}"><img src="{{img.image}}" data-context-menu="#{{forloop.parentloop.counter}}-{{forloop.counter}}"></a>
        <!-- right click context menu -->
        <ul id="{{forloop.parentloop.counter}}-{{forloop.counter}}" class="context-menu dropdown-menu">
            <li><a class='menu-action' src='{{img.image}}' status='ready' href="#">Ready to machine</a></li>
            <li><a class='menu-action' src='{{img.image}}' status='not_ready' href="#">Not ready to machine</a></li>        
        </ul>
        {% endfor %}
    </div>
    {% endfor %}
    
    <div id='shop' style='display:none;'>{{shop}}</div>
    <div id='folder' style='display:none;'>{{folder}}</div>
    <div id='home_on_server' style='display:none;'>{{home_on_server}}</div>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/board_vision.js"></script>
</html>
        
