<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" media="screen"/> 
        <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/table.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/line_ups.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/datepicker.css"/>
        <link rel="stylesheet" href="{{STATIC_URL}}css/line_ups.print.css" media='print'/>
        <title>Pick Ups and Deliveries</title>
		<meta charset="UTF-8">         
    </head>
    <body>
   	<div class="header_container">

        <div class="pagination">
            <ul>
                <li><a class="navigator" href="{{home_on_server}}/">Dashboard</a></li>
            </ul>
        </div>
    	
        <h1>Pick Ups and Deliveries</h1>    	

      </div>

    <div class="day">
        <h2>Not Ready in the Past</h2>
        <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th data-toggle='tooltip' title data-original-title="{{tooltips.Required}}">
                                <span class="manual">Required</span>
                            </th>
                            <th> </th>
                            <th data-toggle='tooltip' title data-original-title="{{tooltips.Order}}">
                                <span class="manual">Order</span>
                            </th>
                            <th>
                                <span class="manual">Qty</span>
                            </th>
                            <th data-toggle='tooltip' title data-original-title="{{tooltips.Product}}">
                                <span class="manual">Product</span>
                            </th>
                            <th data-toggle='tooltip' title data-original-title="{{tooltips.Work}}">
                                <span class="manual">Work</span>
                            </th>
                            <th>W</th>
                        </tr>
                    </thead>
                    {% for od in past %}
                    <tr style='height: 29px;'>
                        <td>
                            <a class="dp1" data-date-format="dd-mm-yyyy" data-date="{{od.required}}">{{od.required}}</a>
                        </td>
                           <td>
                            {% if od.package_type %}
                                {{od.package_type}}
                            {% endif %}</td>
                        <td class="ac_od_id"><a class="order" href='{{home_on_server}}/progress_report/order/{{od.ac_o_id}}'>{{od.ac_o_id}}</a></td>
                        <td>{{od.qty}}</td>
                        <td class="product" style="text-align: left;"><span class="description">{{od.product}}</span>
                        <span class="note">{{od.note}}</span></td>
                        <td>{{od.plan}}</td>
                        <td>{{od.shop}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <div class='total_plan'>Left to Assemble {{rollover_plan_total}}</div>
    </div>

    <h2>Next 7 Days</h2>

    {% for day in week %}
        <div class="day">
           <h3>{{day.0}}</h3>
                <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th>L</th>
                            <th>O</th>
                            <th>Qty</th>
                            <th>Product</th>
                            <th>L</th>
                            <th style="padding-right: 6px;">M</th>
                            <th>A</th>
                            <th>Work</th>
                            <th class="contact">C</th>
                            <th>W</th>
                        </tr>
                    </thead>

                {% for key, package in day.1.items %}
                    <tr class="break_line" style="border: none;">
                        <td style="border-right: none;">&nbsp;</td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                        <td style="border-right: none; border-left: none;"></td>
                    </tr>
                    {% for d in package %}
                        <tr class="{{d.ac_od_id}}" {% if d.rollover %} style="color: grey;" {% endif %} >
                            <td data-target="#location{{d.ac_od_id}}" class="location_menu">

                            {% if d.package_type %}
                                {{d.package_type}}
                            {% endif %}

                            {% if not d.package_type %}

                                <span>{{ d.location|default:"" }}</span>

                                <div id="location{{d.ac_od_id}}">
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#" class="location" location="">&nbsp</a></li>
                                        <li><a href="#" class="location" location="Shop">Shop</a></li>
                                        <li><a href="#" class="location" location="Garage">Garage</a></li>
                                        <li><a href="#" class="location" location="Basement">Basement</a></li>
                                    </ul>
                                </div>
                            {% endif %}

                            </td>
                            <td class="ac_od_id"><a class="order" href='{{home_on_server}}/progress_report/order/{{d.ac_o_id}}'>{{d.ac_o_id}}</a></td>
                            <td class="qty">{{d.qty}}</td>
                            <td class="product" style="text-align: left;">
                                <span class="description">{{d.product}}</span></a>
                                <span class="note">{{d.note}}</span>
                                {% if d.programme %}
                                <span class="programme" value='yes'>{{d.programme}}</span>
                                {% else %}
                                <span class="programme" value='no' style='color: white;'>Prog</span>
                                {% endif %}
                            </td>
                            <td class="status">
                                <span>
                                    {% if d.laminated %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/checked-black.gif" record="1" name="laminated">
                                    {% else %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="laminated">
                                    {% endif %}
                                </span>
                            </td>
                            <td class="status">
                                <span>
                                    {% if d.machined %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/checked-black.gif" record="1" name="machined">
                                    {% else %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="machined">
                                    {% endif %}
                                </span>
                            </td>
                            <td class="status_assambled" local_status="{{d.local_status}}">
                                <span>
                                    {% if d.rollover %}
                                    <strong>RO</strong>
                                    {% elif d.assembled %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/checked-black.gif" record="1" name="assembled">
                                    {% else %}
                                    <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="machined">
                                {% endif %}
                                </span>
                            </td>
                            <td class="plan">{{d.plan}}</td>
                            <td class="contact">
                                {% if d.customer_contacted %}
                                    <strong>X</strong>
                                {% endif %}
                            </td>
                            <td>{{d.shop}}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </table>
                </div>
            <div class='total_plan'>Left to Assemble&nbsp;{{day.2}}</div>
        </div>
    {% endfor %}
		
        <!-- information used by javascript code -->
        <div style="display: none;" class="shop_tag">{{shop}}</div>				
        <div style="display: none;" class="home_on_server">{{home_on_server}}</div>				
        <div style="display: none;" class="access_api_url">{{access_api_url}}</div>

        <!-- hidden informations to be displayed from tooltip -->
        <div style="display: none;">
            <div id="tooltip">        
           {% for minutes in rollover_weeks %}
              <div>W{{minutes.0}} &nbsp; {{minutes.1}}</div>
           {% endfor %}
           </div>
       </div>

       <!-- dialog window with iframe, display the order detail on click on the order number link  -->
       <div id="myModal2" class="modal hide fade" style="border-radius: 10px; padding: 10px; width: 900px; margin-left: -500px;">
           <!-- the iframe is important to ensure the javascript of the loaded page to work without conflicts with the parent window -->
           <iframe src="" class="order_frame" style="height: 900px; width: 900px; border: none;"></iframe>
       </div>

    </body>
        <script type="text/javascript" src="http://169.254.184.4/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/js/jquery.ajaxq-0.0.1.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/js/jquery-ui-1.9.2.custom.min.js"></script>        
        <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/_bootstrap-contextmenu.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/js/moment.min.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/js/jquery.form.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/line_ups.js"></script>
</html>
        
