<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}css/test.css"/>
        <title>Test</title>

        <style>
            @page {
                margin-top: 13mm;
                margin-bottom: 13mm;
                margin-left: 9mm;
                margin-right: 4mm;
                font-size: 10mm;
            }
        </style>

    </head>
    <body>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
        <br/><br/>
        <table style="font-size: 4mm;">
            <tr>
                <td>
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
                <td style="padding-left: 2mm;">
                    <span>32442 &nbsp;&nbsp;&nbsp;&nbsp; Plan Tue 09 Apr</span>
                    <br/>
                    <span>Linchpin Table 160x70 White</span>
                    <br/>
                    For: <span style="font-weight: bold;">Thomas Gilbert</span>
                    <br/>
                    <span>Thu 04 Apr -----</span>
                </td>
            </tr>
        </table>
    </body>
</html>
        
