<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" media="screen"/>
    <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/table.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/progress_report.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/progress_report.print.css" media='print'/>
    <title>{{ shop|capfirst }} W{{week_nr}} Progress Report</title>
    <meta charset="UTF-8">
</head>
<body>
    {% load production %}

<div class="header_container">

    <table>
        <tr>
            <td style="width: 400px;">
                <div class="pagination">
                    <ul>
                        <li><a class="navigator" href="{{home_on_server}}/">Dashboard</a></li>
                        <li><a class="navigator" href="{{home_on_server}}{{navigation.previous}}"><i class="icon-arrow-left"></i></a></li>
                        <li><a class="navigator" href="{{home_on_server}}{{navigation.this}}">This Week</a></li>
                        <li><a class="navigator" href="{{home_on_server}}{{navigation.next}}"><i class="icon-arrow-right"></i></a></li>
                    </ul>
                </div>
            </td>
            <td>
                <div class="pagination">
                    <ul>
                        <li><a class="navigator" href="{{home_on_server}}/materials/{% now "Y" %}/{{week_nr}}">Material Needs</a></li>
                        <li><a class="navigator" id='boardvision' href="{{home_on_server}}/boardvision/{{shop}}">Boards Train</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    <div style="width: 300px; float:left;">
        <h1>W{{week_nr}} <span>{{ shop|capfirst }}</span></h1>
    </div>

    <div class="rollover">
        <div class="assembly_buffer">Ready for Assembly &nbsp; {{assembly_buffer|display_hours}}</div>
        <div class="machining_buffer">Ready to Machine &nbsp; {{machining_buffer|display_hours}}</div>
        <div class="rollover_value">To catch up &nbsp; {{rollover|display_hours}}</div>
    </div>
</div>

<section class="week_container">

    {% for day in week %}
    <h3>{{day.0}}</h3>
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.Board}}"><span class='manual'>Board</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.Order}}"><span class='manual'>Order</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.Product}}"><span class='manual'>Product</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.L}}"><span class='manual'>L</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.eq}}"><span class='manual'>=</span></th>
                <th style="padding-right: 6px;" data-toogle='tooltip' title data-original-title="{{tooltips.M}}"><span class='manual'>M</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.A}}"><span class='manual'>A</span></th>
                <th data-toggle='tooltip' title data-original-title="{{tooltips.Work}}"><span class='manual'>Work</span></th>
            </tr>
            </thead>
            {% for d in day.1 %}
            <tr class="{{d.ac_od_id}}">

                <!-- Sheet ID -->
                <td class="uo" 
                    {% if d.fileprep == 1 %} 
                        style="background-color: rgb(125, 125, 125);"
                    {% elif d.fileprep == 2 %}
                        style="background-color: rgb(200, 200, 200);"
                    {% endif %}
                >
                    <strong style="font-size:18px;">
                        <a class='fileprep' id='{{d.ac_od_id}}' fileprep='{{d.fileprep}}' href="{{d.link}}">{{forloop.parentloop.counter0}}.{{forloop.counter}}</a>
                    </strong>
                </td>
                
                <!-- Order ID -->
                <td class="ac_od_id">
                    <a class="order" href='http://{{domain}}{{home_on_server}}/progress_report/order/{{d.ac_o_id}}'>{{d.ac_o_id}}</a>
                </td>
                
                <!-- Product Name -->
                <!-- Right click menu -->
                <td data-context-menu='#merge{{d.ac_od_id}}' class="product" style="text-align: left;">
                    <div id="merge{{d.ac_od_id}}">
                        <ul class="dropdown-menu" role="menu" >
                            <li><a class="mergeable" href="{{home_on_server}}/progress_report/same_material/{{d.ac_od_id}}">List Mergeable</a></li>
                            <li><a class="add_note" order="{{d.ac_od_id}}" href="{{home_on_server}}/progress_report/record_note/">Add Note</a></li>
                            <li><a class="add_programme" order="{{d.ac_od_id}}" href="{{access_api_url}}/order_detail/update_status/">Programme</a></li>
                        </ul>
                    </div>

                    {% if d.assembled %}

                    <!-- Timer Link -->
                    <a link="{{home_on_server}}/timer_product/{{year}}/{{week_nr}}/{{shop}}/{{d.ac_od_id}}" href="#" data-original-title="{{ d.production_note|default_if_none:"" }}" data-toggle="context" data-target="#merge{{d.ac_od_id}}"><span class="description">{{d.qty}} &times; {{d.product}}</span></a>
                    {% elif not d.machined %}
                    <a link="{{home_on_server}}/timer_product/{{year}}/{{week_nr}}/{{shop}}/{{d.ac_od_id}}" href="#" data-original-title="{{ d.production_note|default_if_none:"" }}" data-toggle="context" data-target="#merge{{d.ac_od_id}}"><span class="description">{{d.qty}} &times; {{d.product}}</span></a>
                    {% else %}
                    <a href='{{home_on_server}}/timer_product/{{year}}/{{week_nr}}/{{shop}}/{{d.ac_od_id}}' data-original-title="{{ d.production_note|default_if_none:"" }}" data-toggle="context" data-target="#merge{{d.ac_od_id}}"><span class="description" >{{d.qty}} &times; {{d.product}}</span></a>
                    {% endif %}

                    <!-- Note -->
                    <span class="note">{{d.note}}</span>
                    
                    <!-- To Programme Flag -->
                    {% if d.programme %}
                        <span class="programme" value='yes'>{{d.programme}}</span>
                    {% else %}
                        <span class="programme" value='no' style='color: white;'>Prog</span>
                    {% endif %}
                </td>

                <!-- Laminated -->
                <td class="status">
                        <span>
                            {% if d.laminated %}
                                <img src="http://169.254.184.4/img/checked.gif" record="1" name="laminated" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}lrat{{d.ac_od_id}}">
                            {% else %}
                                <img src="http://169.254.184.4/img/check.gif" record="0" name="laminated" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}lrat{{d.ac_od_id}}">
                            {% endif %}
                            {% if d.Lrat %}
                            <a href='{{home_on_server}}/admin/production/rat/{{d.Lrat.id}}'>
                                    <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Lrat.reason}}">
                                </a>
                            {% else %}
                                <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="">
                            {% endif %}

                            <!-- report rat right click menu -->
                            <div id="{{ forloop.parentloop.counter }}lrat{{d.ac_od_id}}">
                                <ul id="rat" class="context-menu dropdown-menu">
                                    <li><a href="#">Report a Rat</a></li>
                                </ul>
                            </div>
                        </span>
                </td>

                <!-- Thickness -->
                <td class='thickness'>
                    <input class="thickness" style="text-align: center; background-color: rgb(236, 236, 236); padding: 0px; margin-bottom: 0px; height: 23px; width: 40px; border: 0px;" class='input-mini'type='text' value="{{d.thickness}}">
                </td>

                <!-- Machined -->
                <td class="status">
                        <span>
                            {% if d.machined %}
                            <img src="http://169.254.184.4/img/checked.gif" record="1" name="machined" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}mrat{{d.ac_od_id}}">
                            {% else %}
                            <img src="http://169.254.184.4/img/check.gif" record="0" name="machined" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}mrat{{d.ac_od_id}}">
                            {% endif %}

                            {% if d.Mrat %}
                            <a href='{{home_on_server}}/admin/production/rat/{{d.Mrat.id}}'>
                                <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif"  title="" data-content="{{d.Mrat.reason}}">
                            </a>
                            {% else %}
                                <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments">
                            {% endif %}

                            <!-- report rat right click menu -->
                            <div id="{{ forloop.parentloop.counter }}mrat{{d.ac_od_id}}">
                                <ul id="rat" class="dropdown-menu">
                                    <li><a href="#">Report a Rat</a></li>
                                </ul>
                            </div>
                        </span>
                </td>

                <!-- Assembled -->
                <td class="status_assambled" local_status="{{d.local_status}}">
                        <span>
                            {% if d.assembled %}
                            <img src="http://169.254.184.4/img/checked.gif" record="1" name="assembled" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}arat{{d.ac_od_id}}">
                            {% else %}
                            <img src="http://169.254.184.4/img/check.gif" record="0" name="assembled" data-toggle="context" data-target="#{{ forloop.parentloop.counter }}arat{{d.ac_od_id}}">
                            {% endif %}

                            {% if d.Arat %}
                            <a href='{{home_on_server}}/admin/production/rat/{{d.Arat.id}}'>
                                <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Arat.reason}}">
                            </a>
                            {% else %}
                                <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments">
                            {% endif %}

                            <!-- report rat right click menu -->
                            <div id="{{ forloop.parentloop.counter }}arat{{d.ac_od_id}}">
                                <ul id="rat" class="context-menu dropdown-menu">
                                    <li><a href="#">Report a Rat</a></li>
                                </ul>
                            </div>
                        </span>
                </td>
                <!-- Assembly time -->
                <td class="plan" data-toggle="context" data-target="#plan{{d.ac_od_id}}">
                    {{d.plan}}
                    <!-- update assembly time modal -->
                    <div id="plan{{d.ac_od_id}}">
                        <ul id="plan" class="dropdown-menu" role="menu">
                            <li><a href="#">Adjust assembly time</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <div class='total_plan'>{{day.2|display_hours}}</div>
    {% endfor %}
    <div class='total_plan'>Total Assembly {{total_plan_week|display_hours}}</div>
</section>

<!-- information used by javascript code -->
<div style="display: none;" class="shop_tag">{{shop}}</div>
<div style="display: none;" class="home_on_server">{{home_on_server}}</div>
<div style="display: none;" class="access_api_url">{{access_api_url}}</div>

<!-- report a rat modal  -->
<div id="myModal" class="modal hide fade" style="width: 380px; ">
    <form class="rat_form" action="{{home_on_server}}/progress_report/record_rat" method="post" style="width: 350px; margin-bottom: 0; padding: 10px; border-radius: 5px;">
        <div class="form_description"></div>
        <!-- the attribute value will be populate by javascript -->
        <input type="hidden" class="rat_ac_od_id" name="ac_od_id" value="">
        <input type="hidden" class="source" name="source" value="">
        <br/>

        <!-- this div will by filled by javascript and will handle the list of rat reasons -->
        <div class="reasons"></div>

        <input type="button" class="btn_rat" name="ok" value="Ok"/>
        <input type="button" class="btn_rat_cancel" name="cancel" value="Cancel"/>
    </form>
</div>

<!-- the list of rat reason split by status of production -->
<div style="display: none;">
    <select class="lamination_reasons" name="reasons">
        {% for r in rat_reasons.lamination  %}
            <option value="{{ r.reason }}">{{ r.reason }}</option>
        {% endfor %}
    </select>

    <select class="machining_reasons" name="reasons">
        {% for r in rat_reasons.machining  %}
            <option value="{{ r.reason }}">{{ r.reason }}</option>
        {% endfor %}
    </select>

    <select class="assembly_reasons" name="reasons">
        {% for r in rat_reasons.assembly  %}
            <option value="{{ r.reason }}">{{ r.reason }}</option>
        {% endfor %}
    </select>
</div>
<!-- -->

<!-- dialog window with iframe, display the order detail on click on the order number link  -->
<div id="myModal2" class="modal hide fade" style="margin-top: 10px; border-radius: 10px; padding: 10px; width: 900px">
    <!-- the iframe is important to ensure the javascript of the loaded page to work without conflicts with the parent window -->
    <iframe src="" class="order_frame" style="height: 900px; width: 900px; border: none;"></iframe>
</div>

<!-- dialog window for changing the plan -->
<div id="myModal3" class="modal hide fade" style="margin-top: 10px; border-radius: 10px; padding: 10px; width: 400px">
    <form class="plan_form" action="{{access_api_url}}orders/record_plan" method="get" style="width: 350px; margin-bottom: 0; padding: 10px; border-radius: 5px;">
        <div id="form_plan_description"></div>
        <!-- the attribute value will be populate by javascript -->
        <input type="hidden" id="plan_ac_od_id" name="ac_od_id" value="">

        <br />

        <input type="text" id="plan_plan" name="plan" value=""/>

        <br />
        <br />

        <input type="button" class="btn btn-small" id="plan_ok" name="ok" value="Ok"/>
        <input type="button" class="btn btn-small" id="plan_cancel" name="cancel" value="Cancel"/>
    </form>
</div>

<!-- dialog window - add a note to the product a name (record in local db and add a tooltip) -->
<div id="myModal4" class="modal hide fade" style="margin-top: 10px; border-radius: 10px; padding: 10px; width: 400px">
    <form class="note_form" action="{{home_on_server}}/progress_report/record_note" method="post" style="width: 350px; margin-bottom: 0; padding: 10px; border-radius: 5px;">
        <div id="form_note_description"></div>
        <!-- the attribute value will be populate by javascript -->
        <input type="hidden" id="note_ac_od_id" name="ac_od_id" value="">

        <br />

        <input type="text" id="production_note" name="note" value="" style="width: 350px;"/>

        <br />
        <br />

        <input type="button" class="btn btn-small" id="note_ok" name="ok" value="Ok"/>
        <input type="button" class="btn btn-small" id="note_cancel" name="cancel" value="Cancel"/>
    </form>
</div>


</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://169.254.184.4/js/jquery.ajaxq-0.0.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/_bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="http://169.254.184.4/js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/progress_report.js"></script>
</html>
        
