<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" media="screen"/>
    <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/same_material.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/progress_report.print.css" media='print'/>
    <title>{{ material }}</title>
    <meta charset="UTF-8">
</head>
<body>
    {% load production %}    
    
<section class="week_container">
    <div class="datagrid">
        <table>
            <thead>
            <tr>
                <th>Required</th>
                <th>Order</th>
                <th>Product</th>
                <th>L</th>
                <th>=</th>
                <th style="padding-right: 6px;">M</th>
                <th>A</th>
                <th>Work</th>
                <th>W</th>
            </tr>
            </thead>
            {% for d in ods %}
            <tr class="{{d.ac_od_id}}">
                <td class="uo" 
                    {% if d.fileprep == 1 %} 
                        style="background-color: rgb(125, 125, 125);"
                    {% elif d.fileprep == 2 %}
                        style="background-color: rgb(200, 200, 200);"
                    {% endif %}
                >
                        <a class='fileprep' id='{{d.ac_od_id}}' fileprep='{{d.fileprep}}' href="{{d.link}}">{{d.required}}</a>
                </td>
                <td class="ac_od_id">
                    <a class="order" href='http://169.254.184.4/production/progress_report/order/{{d.ac_o_id}}'>{{d.ac_o_id}}</a></td>
                <td class="product" style="text-align: left;">

                    <div id="note{{d.ac_od_id}}">
                        <ul class="dropdown-menu" role="menu" >
                            <li><a class="add_note" order="{{d.ac_od_id}}" href="{{home_on_server}}/progress_report/record_note/">Add Note</a></li>
                        </ul>
                    </div>

                    <span class="description" data-toggle="context" data-target="#note{{d.ac_od_id}}" data-original-title="{{ d.production_note|default_if_none:"" }}">{{d.qty}} &times; {{d.product}}</span>

                    <!-- Note -->
                    <span class="note">{{d.note}}</span>
                    <!-- To Programme Flag -->
                    {% if d.programme %}
                        <span class="programme" value='yes'>{{d.programme}}</span>
                    {% else %}
                        <span class="programme" value='no' style='color: white;'>Prog</span>
                    {% endif %}
                </td>
                <td class="status">
                        <span>
                        {% if d.laminated %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="laminated">
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="laminated">
                        {% endif %}

                        {% if d.Lrat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Lrat.comment}}" data-original-title="{{d.Lrat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="" data-original-title="rat reason">
                        {% endif %}
                        </span>
                </td>
                <td class='thickness'>
                    <!-- Thickness -->
                    <input class="thickness" style="text-align: center; background-color: rgb(236, 236, 236); padding: 0px; margin-bottom: 0px; height: 23px; width: 40px; border: 0px;" class='input-mini'type='text' value="{{d.thickness}}">
                </td>
                <td class="status">
                        <span>
                        {% if d.machined %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="machined">
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="machined">
                        {% endif %}

                        {% if d.Mrat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Mrat.comment}}" data-original-title="{{d.Mrat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments" data-original-title="rat reason">
                        {% endif %}
                        </span>
                </td>
                <td class="status_assambled" local_status="{{d.local_status}}">
                        <span>
                        {% if d.assembled %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="assembled">
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="assembled">
                        {% endif %}

                        {% if d.Arat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Arat.comment}}" data-original-title="{{d.Arat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments" data-original-title="rat reason">
                        {% endif %}
                        </span>
                </td>

                <td class="plan">{{d.plan}}</td>
                <td>{{d.shop|shortshop}}</td>
            </tr>

            {% endfor %}
        </table>
    </div>
</section>

<!-- information used by javascript code -->
<div style="display: none;" class="shop_tag">{{shop}}</div>
<div style="display: none;" class="home_on_server">{{home_on_server}}</div>
<div style="display: none;" class="access_api_url">{{access_api_url}}</div>

<!-- tick boxes right click context menu -->
<ul id="rat" class="context-menu dropdown-menu">
    <li><a href="#">Report a Rat</a></li>
</ul>

<!-- dialog window - add a note to the product a name (record in local db and add a tooltip) -->
<div id="myModal4" class="modal hide fade" style="margin-top: 10px; border-radius: 10px; padding: 10px; width: 400px">
    <form class="note_form" action="{{home_on_server}}/progress_report/record_note" method="post" style="width: 350px; margin-bottom: 0; padding: 10px; border-radius: 5px;">
        <div id="form_note_description"></div>
        <!-- the attribute value will be populate by javascript -->
        <input type="hidden" id="note_ac_od_id" name="ac_od_id" value="">

        <br />

        <input type="text" id="production_note" name="note" value="" style="width: 350px;"/>

        <br />
        <br />

        <input type="button" class="btn btn-small" id="note_ok" name="ok" value="Ok"/>
        <input type="button" class="btn btn-small" id="note_cancel" name="cancel" value="Cancel"/>
    </form>
</div>

<!-- dialog window with iframe, display the order detail on click on the order number link  -->
<div id="myModal2" class="modal hide fade" style="margin-top: 10px; border-radius: 10px; padding: 10px; width: 900px">
    <!-- the iframe is important to ensure the javascript of the loaded page to work without conflicts with the parent window -->
    <iframe src="" class="order_frame" style="height: 900px; width: 900px; border: none;"></iframe>
</div>


</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://169.254.184.4/js/jquery.ajaxq-0.0.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://169.254.184.4/bootstrap/js/_bootstrap-contextmenu.js"></script>
<script type="text/javascript" src="http://169.254.184.4/js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/same_material.js"></script>
</html>
        
