<!DOCTYPE html>
    <head>
        <title>test</title>
        <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

        <script type="text/javascript" src="http://169.254.184.4/js/jquery-1.8.3.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/_bootstrap-contextmenu.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/test.js"></script>
    </head>

    <body>

        <div class="context" data-toggle="context" data-target="#context-menu" style="margin-left: 15%;">context menu</div>
        <div id="context-menu">
          <ul class="dropdown-menu" role="menu">
              <li><a tabindex="-1" href="#">Action</a></li>
              <li><a tabindex="-1" href="#">Another action</a></li>
              <li><a tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>

        <hr>

        <div class="context2" data-toggle="context" data-target="#my_menu" style="margin-left: 15%;">context menu</div>

        <div id="my_menu">
          <ul class="dropdown-menu" role="menu">
              <li><a class="rat" href="#">rat</a></li>
              <li><a href="#">Miao</a></li>
              <li><a href="#">Bau</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Sgnaus</a></li>
          </ul>
        </div>

    <script type="text/javascript">



        // declaring the object
        //AJAX = {
        //
        //    // attributes
        //    url: ''
        //   ,type: ''
        //   ,data: ''
        //
        //    // methods
        //   ,setData: function(data){
        //        return this.data = data
        //    }
        //   ,setUrl: function(url){
        //        return this.url = url;
        //    }
        //   ,setType: function(type){
        //        return this.type = type;
        //    }
        //   ,call: function(){
        //        $.ajax({
        //            type: this.type
        //            ,data: this.data
        //            ,url: this.url
        //            ,error: function () {alert('Cannot record to DB speak to Nello.');}
        //            ,success: function () {alert('Too good');}
        //        });
        //    }
        //}

        //// using the object
        //AJAX.setUrl('http://127.0.0.1:8000/progress_report/record_rat');
        //AJAX.setType('post');
        //AJAX.setData({'ac_od_id':'81678', 'reasons': 'too bad', 'source': 'lamination'});
        //AJAX.call();

        function ajax(url,type,data){

           this.url;
           this.type;
           this.data;

           this.setAttributes = function(attributes){
                this.url = attributes.url;
                this.type = attributes.type;
                this.data = attributes.data;
           }

            // methods
           this.setData = function(data){
                return this.data = data
            }

           this.setUrl = function(url){
                return this.url = url;
            }

           this.setType = function(type){
                return this.type = type;
            }

           this.call = function(){
                $.ajax({
                     type: this.type
                    ,data: this.data
                    ,url: this.url
                    ,error: function () {alert('Cannot record to DB speak to Nello.');}
                    ,success: function () {alert('Too good');}
                });
            }
        }

        // instance of the class object
        var myFreakyAjax = new ajax();
        // call the method witch constraint us to set all the attributes
        myFreakyAjax.setAttributes({'url': 'http://127.0.0.1:8000/progress_report/record_rat', 'type':'post','data':{'ac_od_id':'81678', 'reasons': 'too bad', 'source': 'lamination'}});
        // ajax call
        myFreakyAjax.call();

        console.log(myFreakyAjax);

    </script>

    <table style="border: 1px black solid">
        <tr style="border: 1px black solid">
            <td style="border: 1px black solid">one</td>
            <td style="border: 1px black solid">three</td>
            <td style="border: 1px black solid; width: 10px;">four four four four </td>
            <td style="border: 1px black solid">five</td>
        </tr>
        <tr>
            <td class="delete" style="border: 1px black solid">one</td>
            <td class="delete" style="border: 1px black solid">three</td>
            <td class="delete" style="border: 1px black solid">four</td>
            <td class="delete" style="border: 1px black solid">five five five five</td>
        </tr>
    </table>

    <button id="print">print</button>

    </body>
</html>
        
