<!DOCTYPE html>
<html>
<head>
    <title>{{ shop|capfirst }} Tools Management</title>
    <link rel="stylesheet" href="http://169.254.184.4/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/table.css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}css/tools.css"/>

</head>
<body>

    <h1>Tools Management <span>{{ shop|capfirst }}</span></h1>

    <div class="datagrid">
        <table>
            <thead>
                <tr>
                    <th>Tool No</th>
                    <th>Tool Name</th>
                    <th>Notes</th>
                    <th>Measured value</th>
                    <th>Date changed</th>
                    <th>MAX USE</th>
                    <th>DAYS USED</th>
                </tr>
            </thead>
            <tbody>
                {% for tool in tools %}
                <tr>
                    <td class="tool_number">{{ tool.tool_number }}</td>
                    <td>{{ tool.tool_name }}</td>
                    <td>{{ tool.notes|default_if_none:"" }}</td>
                    <td class="measured_value">
                        <input class="measured_value" type="text" name="measured_value" value="{{ tool.measured_value }}" />
                    </td>
                    <td class="when_changed">{{ tool.formatted_date }}</td>
                    <td>{{ tool.max_use|default_if_none:"By Hand" }}</td>
                    <td class="days_used" {% if tool.expired %} style="background-color: red;" {% endif %} >{{ tool.days_used }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br/>
    <br/>
    <br/>
    <a class="admin_link" href="{{home_on_server}}/admin/tools/tool/">Admin Tools table</a>

    <!-- information used by javascript code -->
    <div style="display: none;" class="home_on_server">{{home_on_server}}</div>
    <div style="display: none;" class="shop">{{shop}}</div>

</body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://169.254.184.4/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/tools.js"></script>
</html>