         
		<tr class="{{d.ac_od_id}}"> 
                    <td class="ac_od_id"><a href='{{home_on_server}}/progress_report/order/{{d.ac_o_id}}'>{{d.ac_o_id}}</a></td>	
                    <td class="qty">{{d.qty}}</td>
                    {% if d.assembled %}	
                    	<td class="product" style="text-align: left;"><span class="description">{{d.product}}</span>
                    {% else %}
                    	<td class="product" style="text-align: left;">
                    		<a href='{{home_on_server}}/timer_product/{{year}}/{{week_nr}}/{{shop}}/{{d.ac_od_id}}'><span class="description">{{d.product}}</span></a>        
                    {% endif %}	                    	
					<span class="note">{{d.note|truncatechars:45}}</span>	
                        {% if d.programme %}
                            <span class="programme" value='yes'>{{d.programme}}</span>	
                        {% else %}
                            <span class="programme" value='no' style='color: white;'>Prog</span>	
                        {% endif %}
                    </td>
                    <td class="status">
                        <span>                        
                        {% if d.laminated %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="laminated">                        
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="laminated">                                                
                        {% endif %} 
                        
                        {% if d.Lrat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Lrat.comment}}" data-original-title="{{d.Lrat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="" data-original-title="rat reason">                        
                        {% endif %}
                        </span>
                     </td>	
                     <td class="status">
                        <span>                        
                        {% if d.machined %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="machined">                        
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="machined">                                                
                        {% endif %}
                        
                        {% if d.Mrat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Mrat.comment}}" data-original-title="{{d.Mrat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments" data-original-title="rat reason">                        
                        {% endif %}                        
                        </span>                        
                     </td>	
                     <td class="status_assambled" local_status="{{d.local_status}}">
                        <span>                        
                        {% if d.assembled %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/checked.gif" record="1" name="assembled">                        
                        {% else %}
                        <img data-context-menu="#rat" src="http://169.254.184.4/img/check.gif" record="0" name="assembled">                                                
                        {% endif %}
                        
                        {% if d.Arat %}
                        <img class='ratsign' rat='yes' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="{{d.Arat.comment}}" data-original-title="{{d.Arat.reasons}}">
                        {% else %}
                        <img class='ratsign' src="http://169.254.184.4/img/rat.gif" data-toggle="popover" title="" data-content="rat comments" data-original-title="rat reason">                        
                        {% endif %}                                                 
                        </span>                        
                     </td>	

                     <td class="plan">{{d.plan}}</td>
		  </tr>
	  
