body { margin: 5px; }

h1 span { font-size: 24px; }

h3 { margin: 0px; font-size: 24px; }

div.page_header { width: 95%; height: 60px; }
div.page_header div:nth-child(1) { float: left; width: 80%; }
div.page_header div:nth-child(2) { 
    float: right; 
    width: 20%; 
    text-align: right; 
    margin-top: 15px;
}

div.day { margin-top: 30px; }

div.day_header {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, black 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='black');
    color: #FFFFFF;
	background-color:#8C8C8C;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    width: 95%;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
}

div.day_header div:nth-child(1) { float: left; width: 45%; }
div.day_header div:nth-child(2) { float: right; width: 45%; text-align: right; }

img { margin-right:7px; }

@media print {
    img { width: 6cm; }
    body { font-family: sans-serif; }
    h1 span {display: none; }
    ul { display: none; }
    h3 { display: none; } 
    div.day {
        page-break-after: always;
    }
}
