body { 
    font-family: Helvetica, sans-serif;
    margin: 13px;
}

.pagination { margin-bottom: 10px;}
.ac_od_id{width: 6%;}
.qty{width: 3%;}
.plan{width: 3%;}

td a {
    text-decoration: none;
    color: black;
}

td a:hover { text-decoration: underline;}

.navigator {
    color: black;
    padding-right: 20px;
}

.navigator:visited { color: black;}

.week{
    display:block; 
    width: 30%; 
    font-size: 80%;
}

.tooltip { 
    font-family:Sans-Serif; 
    font-size: 20px;
}

.note{
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 90%;
    font-style: italic;
    color: blue;
}

.programme {
    float: right;
    cursor: pointer;
    font-size: 90%;
    font-weight: bold;
    color: grey;
}

.datagrid table td span { position: relative; }
.datagrid table td.status {padding: 0px 0px; width: 3%;}
.datagrid table td img {margin: 2px 2px;}
.datagrid table td.status_assambled {padding: 0px 0px;  width: 3%;}

textarea {width: 336px;}

.icon-stop { margin-top: -20px;}

.form_description { font-weight: bold;}

.btn_rat, .btn_rat_cancel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

@media only screen and (width : 600px) and (orientation: portrait) {
.product {width: 99%;}
.datagrid {width: 99%;}
.header_container{font-size: 60%; position: relative; height: 30px;}
h1, h2, h3 { font-size: 200%; }
.assembly_buffer { font-size: 14px;}
}

@media only screen and (width : 961px) and (orientation: landscape) {
.product {width: 100%;}
.datagrid {width: 100%;}
.header_container{font-size: 60%; position: relative; height: 30px;}
h1, h2, h3 { font-size: 200%; }
.assembly_buffer {font-size: 14px;}
}

select{
    margin-top: 3%;
    width: 120px;
}

img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    border-radius: 25px;
}

.open {z-index: 100;}

.total_plan{
    margin-top : 1%;
    width : 98%;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}