span.programme[value=no] { display: none; }

div.day {page-break-after: always;}

.datagrid table tbody td {font-size: 9px;}

img {
    width: 10px;
    height: 10px;
    margin-top: 1px;
    border-radius: 10px;
}

.pagination, .programme, .dropdown-menu, .datepicker {display: none;}

.product{line-height: 100%;}