body {
    font-family: Arial, Helvetica,
    sans-serif;
    margin: 10px;
}

h2 { clear: both;}
h1 { width: 40%; }

.put_margin{ margin-left : 15%; }

.address {
    width: 300px;
    float: left;
}

.costumer_container, .details_container, .notes_container { 
	border: black solid 1px;
	border-radius: 3px;
	padding: 1%;
	margin: 0.5% 0 1% 0;
	font-size: 14px; 
    overflow: auto;
    width: 97%;
}

.head_container{font-size: 14px;}

.home_tel{
	position : relative; 
	left: 20.2%; 
}

#order_details {
    width: 75%;
    float: left;
}

.value_time_switch {
    padding: 2px;
    margin-top: 53px;
	border: black solid 1px;
    border-radius: 3px;
    background: #8C8C8C;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.value {display: none;}

.note{
	font-family:"Times New Roman",Georgia,Serif;
	font-size: 90%;
    font-style: italic;
	padding-left: 20px;
  color: blue;
}

.programme {
    float: right;
    cursor: pointer;
    font-size: 90%;
    font-weight: bold;
    color: grey;
}

.assembly, .qty, .value {width: 3%}
.status{width: 10%}

/* css downloaded from tablestyler.com/ */
.datagrid table { 
	border-collapse: collapse;
	width: 100%;
} 

.total_plan, .total_value{
	margin-top : 1%; 
	width : 87%;
	text-align: right;
	font-weight: bold; 
	font-size: 15px;
}

.total_value { display: none; }

.datagrid {
  clear: both;
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #030303;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 99%;
}

.datagrid table td, .datagrid table th { padding: 3px 10px; }

.datagrid table thead th {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, black 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='black');
	background-color:#8C8C8C;
	color:#FFFFFF;
	font-size: 15px;
	font-weight: bold;
	border-left: 1px solid #050505;
} 

.datagrid table thead th:first-child { border: none;}

.datagrid table tbody td { 
	color: #black;
	border-left: 1px solid #030303;
	font-size: 14px;
	border-bottom: 1px solid #000000;
	font-weight: normal;
	text-align: center;
}

.datagrid table tbody td .product{stext-align : left;}

.datagrid table tbody td:first-child { border-left: none;}

.datagrid table tbody tr:last-child td { border-bottom: none;}

.datagrid table tfoot td div { border-top: 1px solid #030303;background: #EBEBEB;} 

.datagrid table tfoot td { padding: 0;font-size: 12px } 

.datagrid table tfoot td div{ padding: 2px;}

.datagrid table tfoot td ul { 
	margin: 0;
	padding:0;
	list-style: none;
	text-align: right;
}

.datagrid table tfoot  li { display: inline;}

.datagrid table tfoot li a { 
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px;
	margin: 1px;color: #F5F5F5;border: 1px solid #8C8C8C;-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, black) );
	background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
	background-color:#8C8C8C;
}

.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { 
	text-decoration: none;border-color: #7D7D7D;
	color: #F5F5F5;
	background: none;
	background-color:#8C8C8C;
}

.text_container {
    width: 95%;
    resize: none;
    border: medium none transparent;"
    rows="3";
}
