.programme { display: none; }

.tooltip { display: none; }

.dropdown-menu { display: none; }

.product { width: 100%; }

.datagrid { width: 100%; }

th { color: black; }

a.navigator { display: none; }

.header_container{
	position: relative; 
	font-size: 60%;
    height: 60px;
    margin-top: 0.5cm;
}

.week_container { margin-top: -1px; }

.total_plan{
	margin-top : 1%; 
	width : 98%;
}

.ratsign { display: none; }

img { z-index: -100; }

.pagination { display: none; }

#rat { display: none; }

#myModal { display: none; }

thead{ border-bottom: 1px black solid;}

.context-menu {display: none;}
