body { font-family: Helvetica, sans-serif }

h2 { margin-bottom: 0px; margin-top: 10px;}
h3 { margin-bottom: 0px; clear: both; }

.page_container { margin-left: 10px;}

.jobs {display: none;}

.canvas_container { 
	width: 740px; 
	float: left; 
	margin-bottom: 10px; 
	}

.open{
	float: left;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #4B4B4B;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

.navigator {
    color: black;
    padding-right: 20px;
}

table{ clear:both }

.timeline{ margin-bottom: 10px; }

tr { height: 40px; }

td { text-align: center; }
td.product { text-align: left; }
.total_actual, .total_pause, .total_plan, .total_total {font-weight: bold;}
.total_pause, .total_total, .start, .ETA, .keypoints {display: none;}


.button_list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}